# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [2]:
num_1 = 25

In [3]:
type(num_1)

int

#### 2. asign any number of type float to the variable "num_2"

In [4]:
num_2 = 52.6

In [5]:
type(num_2)

float

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [8]:
total = num_1 + num_2

In [9]:
total

77.6

#### 4. check the type of variable "total"

In [10]:
type(total)

float

#### 5. assign variable "height" with your height

In [12]:
height = 184

In [13]:
height

184

#### 6. asign variable "mass" with your weight

In [14]:
mass = 85

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [16]:
bmi = mass / (height**2)

#### 8. print value from "bmi" variable

In [17]:
print(bmi)

0.002510633270321361

# String

#### 1. Create variable "name" with your first name

In [18]:
name = 'Luis'

#### 2. Create variable "surname" with your surname

In [19]:
surname = 'Patruyo'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [20]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [21]:
print(name_surname)

Luis Patruyo

#### 5. print first letter from variable "name_surname"

In [22]:
print(name_surname[0])

L

#### 6. print your name (without enmpty space) from variable "name_surname"

In [24]:
name_surname[0:4]+name_surname[5:]

'LuisPatruyo'

#### 7. print your surname 10x (use variable surname)

In [27]:
print(surname*10)

PatruyoPatruyoPatruyoPatruyoPatruyoPatruyoPatruyoPatruyoPatruyoPatruyo

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [31]:
greeting = "Hello my name is " + name_surname

#### 9. print "message" variable

In [32]:
print(greeting)

Hello my name is Luis Patruyo

## List

#### 1. create empty list with name "empty_list"

In [72]:
empty_list = []

#### 2. create list "heights" with five random values

In [73]:
heights = [165, 187, 150, 200, 98]

#### 3. print heights

In [74]:
print(heights)

[165, 187, 150, 200, 98]

#### 4. print type of variable "heights"

In [75]:
type(heights)

list

#### 5. print second value from "heights"

In [76]:
heights[1]

187

#### 6. assign last three values from "heights" to another list "heights_2"

In [77]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [78]:
heights_2

[150, 200, 98]

In [79]:
print(heights_2)

[150, 200, 98]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [88]:
list_all = heights + heights_2

#### 9. print "list_all"

In [89]:
print(list_all)

[165, 187, 150, 200, 98, 150, 200, 98]

#### 10. print the type of "list_all"

In [90]:
type(list_all)

list

In [91]:
list_all.extend(heights_2)

In [92]:
list_all

[165, 187, 150, 200, 98, 150, 200, 98, 150, 200, 98]

## Tuple

#### 1. create empty tuple with name empty_tuple

In [93]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [94]:
empty_tuple[0]='Luis'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [95]:
# Lists are mutable and tuples are not

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [117]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [118]:
heights_dict = dict([('Luis',184)])

#### 3. asign another name and height to "heights_dict"

In [119]:
heights_dict.update({'John':155})

#### 4. print "heights_dict" dictionary

In [120]:
heights_dict

{'Luis': 184, 'John': 155}

In [121]:
heights_dict['Mary'] = 176

In [122]:
heights_dict

{'Luis': 184, 'John': 155, 'Mary': 176}

#### 5. print your height from the "heights_dict" dictionary

In [123]:
heights_dict['Luis']

184

#### 6. print all values from "heights_dict" dictionary

In [124]:
heights_dict

{'Luis': 184, 'John': 155, 'Mary': 176}

#### 7. print all keys from "heights_dict" dictionary

In [125]:
heights_dict.keys()

dict_keys(['Luis', 'John', 'Mary'])

In [126]:
heights_dict.values()

dict_values([184, 155, 176])