In [1]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [2]:
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [3]:
a[:]==a

True

In [6]:
a[:] is a
# They are two different objects and refer to two separate spaces in memory

False

In [7]:
'baz' in a

True

In [8]:
'bar' in a[2:]

False

In [12]:
b = a + ['bar']

In [13]:
'bar' in b[2:]

True

In [43]:
c = b + [23, [34, 'foo']]

In [44]:
c

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'bar', 23, [34, 'foo']]

In [23]:
len(c)

9

In [24]:
c[8][1] in a

True

In [25]:
del c[8][0]

In [26]:
c

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'bar', 23, ['foo']]

In [27]:
c[2:] = ["super element"]

In [28]:
c

['foo', 'bar', 'super element']

In [32]:
# INSERT ELEMENTS IN LIST BY USING A ZERO-LENGTH SLICE
c[1:1] = ['A','B','C']

In [33]:
c

['foo', 'A', 'B', 'C', 'A', 'B', 'C', 'bar', 'super element']

In [34]:
c.append(123)

In [35]:
c

['foo', 'A', 'B', 'C', 'A', 'B', 'C', 'bar', 'super element', 123]

In [36]:
d = c

In [37]:
d is c

True

In [38]:
c.append(123) is c

False

In [39]:
e = c.append('AB')

In [41]:
print(e)

None

In [45]:
c

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'bar', 23, [34, 'foo']]

In [46]:
d

['foo', 'A', 'B', 'C', 'A', 'B', 'C', 'bar', 'super element', 123, 123, 'AB']

In [52]:
c.extend(['NY','CA'])

In [54]:
c

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'bar',
 23,
 [34, 'foo'],
 'NY',
 'CA',
 'NY',
 'CA',
 'NY',
 'CA']

In [55]:
c.append(['NY','CA'])

In [56]:
c

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'bar',
 23,
 [34, 'foo'],
 'NY',
 'CA',
 'NY',
 'CA',
 'NY',
 'CA',
 ['NY', 'CA']]

In [57]:
c.pop(3)

'qux'

In [58]:
c

['foo',
 'bar',
 'baz',
 'quux',
 'corge',
 'bar',
 23,
 [34, 'foo'],
 'NY',
 'CA',
 'NY',
 'CA',
 'NY',
 'CA',
 ['NY', 'CA']]

In [65]:
c.remove('NY')

In [66]:
c

['foo',
 'bar',
 'baz',
 'quux',
 'corge',
 'bar',
 23,
 [34, 'foo'],
 'NY',
 'CA',
 'NY',
 'CA',
 ['NY', 'CA']]

In [67]:
c.pop()

['NY', 'CA']

In [68]:
c

['foo',
 'bar',
 'baz',
 'quux',
 'corge',
 'bar',
 23,
 [34, 'foo'],
 'NY',
 'CA',
 'NY',
 'CA']

In [69]:
c[8:]=[]

In [70]:
c

['foo', 'bar', 'baz', 'quux', 'corge', 'bar', 23, [34, 'foo']]

In [90]:
city = 'USA', 'CAN', 'VEN'

In [91]:
Country = 'NY', 'YYC', 'CAR'

In [92]:
city

('USA', 'CAN', 'VEN')

In [93]:
city, Country = Country, city

In [94]:
city

('NY', 'YYC', 'CAR')

In [95]:
Country

('USA', 'CAN', 'VEN')